
<nav class="navbar navbar-expand-lg navbar-dark  light-green darken-2 ">

  <a class="navbar-brand" href="/">
    <img src="https://coursereport-production.imgix.net/uploads/school/logo/178/original/10710615-512708608864666-6379526937469666187-n.png?w=200&h=200" height="55" alt="mdb logo">
  </a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="basicExampleNav">

    <ul class="navbar-nav mr-auto">
      
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Select Category</a>
            <div class="dropdown-menu dropdown-primary " aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item"  href="/posts/html">HTML</a>
              <a class="dropdown-item"  href="/posts/css">CSS</a>
              <a class="dropdown-item"  href="/posts/bootstrap">Bootstrap</a>
              <a class="dropdown-item"  href="/posts/javascript">JavaScript</a>
              <a class="dropdown-item"  href="/posts/jquery">JQuery</a>
              <a class="dropdown-item"  href="/posts/angular">Angular</a>
              <a class="dropdown-item"  href="/posts/Python-Flask">Python-Flask</a>
              <a class="dropdown-item"  href="/posts/Python-Django">Python-Django</a>
              <a class="dropdown-item"  href="/posts/Java-Spark">Java-Spark</a>
              <a class="dropdown-item"  href="/posts/Android">Android</a>
              <a class="dropdown-item"  href="/posts/c">C</a>
              <a class="dropdown-item"  href="/posts/c++">C++</a>
              <a class="dropdown-item"  href="/posts/others">Other postss</a>
            </div>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/about">About
              </a>
          </li>
      </ul>
    

    <div class="nav navbar-nav navbar-right">
      {% if current_user.is_authenticated %}
      <a class="nav-item nav-link" href="{{url_for('auth.account')}}">Account</a>
      <a class="nav-item nav-link" href="{{url_for('auth.logout')}}">Log out</a>
     {% else %}
      <a class="nav-item nav-link" href="{{url_for('auth.login')}}">Login</a>
      <a class="nav-item nav-link" href="{{url_for('auth.register')}}">Register</a>
      {% endif %}
    </div>


</nav>
